/*============COLORS=============*/
/*============SIZES=============*/
/*============================= CAROUSEL =========================*/
.carousel-item {
  min-height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 25px;
  height: 25px; }

.carousel-caption {
  color: #302D2A;
  margin-bottom: 20vh; }

/*-------------- CAROUSEL DESCRIPTION -----------*/
.carousel-caption > h3 {
  font-size: 3.5vw; }

.carousel-caption > p {
  font-size: 1.5vw; }

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 2px; }

/*=============== NAVBAR (header, menu encogido) ======================*/
.navbar {
  padding: 15px 10px 0px 15px;
  margin-top: -20px; }

.navbar-collapse {
  text-align: center;
  padding-bottom: 10px; }

.navbar-nav {
  padding-top: 5px; }

.navbar-toggler {
  background: #F91F1F; }

.navbar-dark .navbar-nav .nav-link {
  color: #F91F1F; }

.nav-link-text {
  color: #F91F1F !important; }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #0069D9 !important; }

.nav-login:focus, .nav-login:hover {
  color: white !important; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #0069D9 !important; }

/*--------------- LOGIN --------------*/
.nav-login {
  background-color: #F91F1F !important;
  border: 1px solid tomato;
  padding: 3px 3px 3px 3px;
  margin-top: 4px;
  margin-left: 4px;
  color: white !important; }

/*--------------- CART BUTTON ----------------*/
.nav-item__carro {
  color: #F91F1F;
  background-color: white;
  border: 0px;
  padding-top: 10px;
  margin-left: 20px; }

.nav-item__carro:hover {
  cursor: pointer;
  color: #0069D9;
  background-color: white; }

.nav-item__carro__contador {
  margin-left: 20px; }

/*========================== MAIN HEADER =============================*/
.bg-main-header-custom {
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 3px 2px 20px black; }

#main-header-effect {
  display: none; }

/*============================ FOOTER ================================*/
.page-footer {
  margin-top: 10vh !important; }

/*============================ BROWSER ================================*/
.browser {
  position: absolute;
  width: 100%;
  top: 30vh; }

.form-browser {
  display: flex;
  flex-flow: row wrap;
  background-color: #302D2A;
  border-radius: 8px;
  padding: 20px 10px 8px 10px;
  margin-left: 10%;
  margin-right: 10%; }

.form-group {
  justify-content: center;
  padding: 10px; }

.form-group-btn {
  margin-top: 10px;
  margin-bottom: 10px; }

.form-group, .form-group-btn {
  align-items: center; }

.select-drop {
  width: 100%; }

.select-drop, .date-picker {
  padding: 8px 0px 10px 8px;
  border-radius: 3px; }

.btn-browser {
  margin: 0px !important; }

.busqueda-deportes {
  margin-top: 5vh; }

/*------------------ Date picker ---------------*/
/*Esta clase llamadas compartidas fuera de este trozo
.date-picker{
    width:47% !important;
    cursor: pointer;
    color:white;
    padding: 0px !important;
    padding-left: 30px !important;
}

.date-picker-container{
    position: relative;
}

.date-picker-container>svg{
    position: absolute;
    top: 5px;
    left: 10px;
    color:$date-picker-icon-color;
}*/
@media (max-width: 766px) {
  .form-browser {
    display: block;
    text-align: center;
    width: 100%; }
  .select-drop {
    width: 350px; }
  .browser {
    position: absolute;
    width: 80%;
    top: 30vh; }
  .main-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  /*ELIMINA EL ESPACION ENTRE EL SECTION Y EL FOOTER*/
  /*
    .py-5 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    */ }

@media (max-width: 500px) {
  .select-drop {
    width: 250px !important; }
  .form-browser {
    width: 100%; }
  #from, #to {
    font-size: 12px; } }
