/*============COLORS=============*/
/*============SIZES=============*/
html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

.deportes-seleccion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.cabecera-selecciones {
  margin-left: 10px; }

.deportes-seleccion-listado {
  list-style-type: none; }

/*Demo only*/
.container-fluid {
  max-width: 1920px; }

img {
  width: 100%; }

.no-pad {
  padding: 0;
  margin: 0; }

/*Demo only*/
.hover-card .top {
  transition: 1s;
  bottom: 0;
  background: rgba(66, 66, 66, 0.56);
  padding: 0.5em;
  position: absolute;
  left: 0;
  text-align: left;
  color: white;
  width: 100%;
  max-height: 100%; }

.card:hover .top {
  opacity: 1;
  background: tomato; }

.card:hover .read-more .fa {
  color: white; }

.hover-card h2, .hover-card, .hover-card h4 {
  margin: 0; }

/* external css: flickity.css */
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* external css: flickity.css */
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* external css: flickity.css */
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* external css: flickity.css */
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.carousel {
  background: #EEE; }

.carousel-cell {
  width: 30%;
  height: 30vh;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
  counter-increment: gallery-cell;
  margin: 8px; }

.flickity-viewport {
  background-image: url("http://calzadoparati.com/wp-content/uploads/2016/11/running.jpg");
  background-size: cover;
  filter: grayscale(20%); }

@media (max-width: 500px) {
  .carousel-cell {
    width: 90%; } }
