/*============COLORS=============*/
$main-header-bg-color:rgba(255, 255, 255,0.99);
$navbar-toggle-bg-color:#F91F1F;
$date-picker-icon-color:#08C0E4;
/*============SIZES=============*/
$phone-media-max-size:500px;
$phablet-media-max-size:766px;
$super-phablet-media-max-size:1000px;

