@import "_variables.scss";

.modal-header{
    background: linear-gradient(to right,#e54b4b, #4dcef2);
    color:white;
}

.modal-content{
    border-radius:5px 5px 0px 0px !important;
}

.close{
    color:white;
    font-size: 28px;
}

.modal-footer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

hr{
    height: 3px;
}

.btn-secondary-carro{
    background-color: #e54b4b !important;
    border-color: transparent !important;
}

.btn-primary-carro{
    background-color: lightskyblue !important;
    border-color: transparent !important;
}


#Modal__carrito{
    text-align: center;
    overflow: auto;
}

.narrower{
    max-width: 20vw;
    display: inline-block;
    margin: 1vw;
}


@media  (max-width: $phablet-media-max-size) {

    .narrower{
        max-width: 90vw;
        margin-bottom: 15px;
    }
    
    .card-title{
        font-size: 3vw !important;
    }
}


@media(max-width: $phone-media-max-size+91) {
    .card-title{
        font-size: 18px !important;
    }
}


/* ------------- round button -----------*/

.btn-circle-sm {
    background-color: #e54b4b;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
    position: absolute;
    top:-20px;
    right:-16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}


.img-fluid{
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.card-title{
    font-size: 1.5vw;
}

/* ============ ALERTS =======================*/

.alert{
    display: none;
}