@import "_variables.scss";

#map {
    background-color: grey;
    height:90vh;
}

.sidebar{
    height: 89vh;
}

.header{
    width: 90%;
}

.nav-link{
    color:tomato !important;
}

/* ======================== MAIN GRID ===============================*/

.container-grid{
    margin:0px;
    padding: 0px;
    display:grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "header header"
        "sidebar main"
}

.header{
    grid-area: header;


}
.map-container{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
    width: 30vw;
    min-width: 25vw;
    max-width: 72vw;
}

@media  (max-width: $super-phablet-media-max-size) {
    .container-grid{
        grid-template-areas:
            "header header"
            "main main"
            "sidebar sidebar";

    }
    .sidebar{
        width: 100% !important;
        max-width: 100%;
    }

    #content_sidebar{
        overflow: visible !important;
    }


    .map-container{
        margin-top:10px;
    }   
}


/* ======================= SIDEBAR GRID =============================*/


#content_sidebar{
    margin:0px;
    overflow:auto;
    height: 90vh; 
    padding: 10px;
    padding-top:25px;
}

.main-img_sidebar>img{
    width:100%;
    max-height: 100%;
    max-width: 30vw;
    background-size: auto;
}

/* ================== SCROLLBAR ========================= */

@media  (min-width: $super-phablet-media-max-size) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #ccc;  
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #999;  
    }
}
.ui-resizable-handle {
    background-image:none;
}

/* ======================== Resultado Centros =======================*/

#volver-resultados-centros{
    color:#1f77e2;
    border:none;
    font-size: 24px;
    background-color: transparent;
    margin-bottom: 15px;
    cursor: pointer;
}

.volver-resultados-centros-texto{
    font-size: 18px;
    margin-top: -5px;
}

.searchable-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item-card:hover{
    text-decoration: none;
    cursor: pointer;
}

.panel.panel-horizontal {
    display:table;
    margin:10px;
    color:black;
    border-left: 5px solid dodgerblue;
    background-color: #f0f0f0;
    border-radius: 0px 4px 4px 0px;
}

@media(max-width: $super-phablet-media-max-size) {
    .panel.panel-horizontal {
        width: 45vw;
    }

    #center-result{
        margin-top: 20px;
    }
}

@media(max-width: $phone-media-max-size+91) {
    .panel.panel-horizontal {
        width: auto ;
    }  

    #volver-resultados-centros{
        margin-bottom: 0px;
    }
}


.panel-horizontal:hover{
    background-color: #d3d3d3;
}

.panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
    padding: 8px;
}

.panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}

.panel.panel-horizontal>.panel-footer>img{
    position:right;
    width: 110px;
    height: 100px;
    border-radius: 2px;
}

.rate-stars>span{
    color:#F0AD4E; 
    margin-left: 5px;
    margin-right: 5px;
}

.nav-tabs>.nav-item:nth-child(1)>.nav-link{
    color:#E44C4C !important;
}
.nav-tabs>.nav-item:nth-child(2)>.nav-link{
    color:#BB6F79 !important;
}
.nav-tabs>.nav-item:nth-child(3)>.nav-link{
    color:#998C9E !important;
}
.nav-tabs>.nav-item:nth-child(4)>.nav-link{
    color:#72ADC8 !important;
}
.nav-tabs>.nav-item:nth-child(5)>.nav-link{
    color:#4FCCF0 !important;
}

/*============   DEPORTIVO SELECTED ================*/

#btn-reserva{
    margin-top: 10px;
}


/* ============ PickaDate =========================== */

#reservas td{
    font-size: 1em !important
}